@import '../../assets/styles/common.styl'

.searchWrapper
  color: #666
  font-size: 18px
  border: 1px solid #e1e1e1
  border-left: 7px solid #39ac69
  margin-bottom: 20px
  .searchInner
    width: 700px
    padding: 15px 0
    margin: 0 auto
    box-sizing: border-box
  .searchInput
    width: 420px
    padding: 5px 20px 5px 60px
    border: 1px solid #e1e1e1
    border-radius: 16px
    outline: none
    background: #f8f8f8 url(assets/images/searchbar.png) 36px center no-repeat
  .searchBtn
    padding: 0 15px
    margin-left: 10px
    border-radius: 4px
    -webkit-appearance: none
    background-color: #f8f8f8
    border: 1px solid #e1e1e1
    touch()
