@import '../../assets/styles/common.styl'

.calendarMask
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0, 0, 0, 0.6)
.calendarWrapper
  width 450px
  height 515px
  border 1px solid #e1e1e1
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  background #ffffff
  .calendarHeader
    color #666
    background-color #f2f2f2
    border-bottom 1px solid #e1e1e1
    text-align center
    clearfix()
    .goBackBtn, .saveDates
      cursor pointer
    .goBackBtn, .headerTitle, .saveDates
      padding 5px 0
    .goBackBtn
      width 20%
      height 25px
      background-image url('../../assets/images/arrowLeftGrey.png')
      background-repeat no-repeat
      background-position center center
      float left
    .headerTitle
      width 60%
      float left
    .saveDates
      width 20%
      padding 5px 0
      color #39ac69
      text-align center
      float left
.dateRangePicker
  width auto
  margin 20px auto
  font-size 22px
  clearFix()
  .item
    width 150px
    color #39ac69
    background #fff
    padding 5px 0
    text-align center
    border 1px solid #39ac69
    border-left 1px solid #39ac69
    margin-left -1px
    float left
    touch()
    &:first-child
      border-radius 6px 0 0 6px
      margin-left 0
    &:last-child
      border-radius 0 6px 6px 0
    &.useCalendar
      width 150px
    &.selected
      background #39ac69
      color #fff
