.productType
  margin-bottom 20px
  .categoryHeader
    color #666
    font-size 20px
    padding 10px 20px
    border 1px solid #dedede
    background-color #f2f2f2
  .categoryRow
    padding 10px
    border-left 1px solid #dedede
    border-right 1px solid #dedede
    border-bottom 1px solid #dedede
    clearfix()
    .categoryItem
      width 16.6%
      padding 10px 0
      text-align center
      float left
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      cursor pointer
      touch()
      &.selected
        background url(assets/images/typeItemOnBg.png) center 40px no-repeat
